<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="cordova-plugin-applist2"
      version="0.1.4">
    <name>Applist</name>
    <description>Applist Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,Applist</keywords>


    <js-module src="www/Applist.js" name="Applist">
        <clobbers target="window.Applist" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Applist">
                <param name="android-package" value="org.jmrezayi2.Applist.Applist"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/Applist.java" target-dir="src/org/jmrezayi2/Applist" />      
     </platform>          
</plugin>
